<div class="container">
    <footer class="footer">
        <small>
            Copyright © <a href="www\http://nrgrsate.com.au">NRG_Rate</a>
            by <a href="www\http://building-compliance.com.au">Melbourne building compliance</a>
        </small>

    <nav>
        <ul>
            <li><%= link_to "About", pages_about_path %></li>
        </ul>
        </nav>
    </footer>
</div>